.maps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;  
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(54, 17, 54);
    color: white;
}
    
.header a {
    margin-right: 80px; 
    color: white; 
    text-decoration: none;
}

.nome {
    margin-right: 50%;    
}

