<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../../style/components/header.css">
</head>
<body>
    <header>
        <div class="info_clinica_vet">
            <div class="pata_amiga">
                <img src="../../img/pata.png" alt="Logo Pata Amiga" class="logo_pata_amiga">
                <img src="../../img/pata_img.png" alt="" class="pata_text_img">
            </div>
            
            <div class="descricao_header">
                <div class="endereco_header">
                    <h2>R. Sei lá Onde - Pata de Ouro </h2>  
                    <p>- Campo Grande - MS, 79091-92 </p> 
                </div>
            
                <div class="funcionamento_header">
                    <h2>Horário de funcionamento:</h2>
                    <p>-Atendimento 24 Horas</p>
                </div>
            </div>
            
    
            <div class="contato">
                <div href="#" id="whatsapp">
                    <img src="../../img/icon_whatsapp.svg" alt="">
                    <div class="whatsapp_item_header">
                        <h2>Chama no Whats</h2>
                        <p>(67) 99912-9991</p>
                    </div>
                </div>

                <div href="#" id="telefone">
                    <img src="../../img/icon_telefone.svg" alt="">
                    <div class="telefone_item_header">
                        <h2>Ligar Agora</h2>
                        <p>(67) 99312-9291</p> 
                    </div>
                </div>
            </div>
        </div>
    
        <nav class="nav_bar">
            <div class="nav_item">
                <a href="../index.html" target="_top">Home</a>
            </div>
            <div class="nav_item">
                <a href="../sobre.html" target="_top">Sobre</a>
            </div>
            <div class="nav_item">
                <a href="../servicos.html" target="_top">Serviços</a>
            </div>
            <div class="nav_item">
                <a href="../exames.html" target="_top">Exames</a>
            </div>
        </nav>
        
    </header>
</body>
</html>
