<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../../style/components/footer.css">
</head>
<body>
    <footer>
        
            <div class="footer_container">
                <div class="footer_info">
                    <p>&copy; 2025 Pata Amiga - Todos os direitos reservados</p>
                    <p>Endereço: R. Sei lá Onde - Pata de Ouro, Campo Grande - MS, 79091-92</p>
                </div>
                <img src="../../img/pata.png" alt="">
                <div class="footer_contatos">
                    <h3>Contato</h3>
                    <p><strong>WhatsApp:</strong> (67) 99912-9991</p>
                    <p><strong>Telefone:</strong> (67) 99312-9291</p>
                </div>
            </div>
        
    </footer>
</body>
</html>