body {
    margin: auto;
}

.grid_header {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: rgb(0, 0, 0);   
    position: fixed;
    z-index: 1000;
    grid-column-gap: 100px;
    width: 100%;
}

.grid_header img {
    max-width: 50px;
}

.grid-master {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 50px;
}

.autor {
    align-self: start;
    margin: 16%;
    margin-left: 26%;
}

.grid_header a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: large;
    padding-left: 60px;
    padding-right: 60px;
}

.LHorizontal {
    width: 100%;
    height: 10px;
    background-color: rgb(73, 73, 73); 
    margin-bottom: 8px; 
}

.destaque {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 30px;
    justify-content: center;
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
}

.grid_terraclima {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    
    column-gap: 5%;
}

.img_autor {
    width: 20% !important;
    height: 20% !important;
    grid-column-start: 1;
}

.text1, .text2, .text3, .text4, .text5 {
    grid-column-start: 2;
}

.grid_terraclima img {
    width: 712px;
    height: 400px;
}

.grid_terraclima h1 {
    margin-top: 10%;
    text-align: center;
}

.grid_terraclima h5 {
    margin-top: 0%;
    color: rgb(73, 73, 73);

}

.grid_terraclima p {
    text-align: justify;
    max-width: 720px;
    font-size: 16px;
    font-family: 'Public Sans Web', sans-serif;
    font-style: normal;
    
}



/* Roda-pé: */
.grid_contato {
    align-items: center;
    column-gap: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: large;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 100px;
    align-items: start;
}

.text_1, .text_2, .text_3, .text_4, .text_5 {
    text-align: center;
}