<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div href=""> <a> HOME </a></div>
        <div href=""> <a> CLIMA</a></div>
        <div href="" > <a> ESPAÇO </a> </div>
        <div> <img src="./arquivo/logo_nasa.png" alt="logo_nasa.png"></div>
        <div href=""> <a> TERRA </a></div>
        <div href=""> <a> NASA </a> </div>
        <div href=""> <a> CONTATO </a></div>
    </div>
    <div class="imagem"></div>
    <div class="destaque"><h1>Notícias em Destaque </h1></div>
   
    <div class="grid_principal">
        <div class="lorem_text">
            <h1>A Importância da NASA na Exploração Espacial e na Preservação da Terra </h1>
            <p>
                A NASA, Administração Nacional da Aeronáutica e Espaço dos Estados Unidos, tem sido uma das principais forças motrizes na exploração espacial desde sua fundação em 1958. Com uma missão de expandir as fronteiras do conhecimento humano, a NASA não apenas envia missões a planetas distantes, mas também estuda as complexidades do nosso próprio planeta, a Terra.
            </p>
            <p>
                Nas últimas décadas, o clima da Terra tem mudado de forma alarmante. O aumento das emissões de gases de efeito estufa, como o dióxido de carbono e o metano, resultou em um aquecimento global que está alterando padrões climáticos e intensificando fenômenos naturais. Furacões, secas, inundações e incêndios florestais estão se tornando mais frequentes e severos, afetando ecossistemas e ameaçando a biodiversidade.
            </p>
            <p>
                A NASA desempenha um papel crucial na observação e compreensão dessas mudanças climáticas. Através de satélites avançados, como o Terra e o Suomi NPP, a NASA coleta dados essenciais sobre a atmosfera, a superfície terrestre e os oceanos. Esses dados são fundamentais para modelar e prever o clima, permitindo que cientistas e formuladores de políticas entendam melhor os impactos das atividades humanas no planeta.
            </p>
        </div>
        
        
        <div class="text1">
            <a href="">Clima - Seus efeitos:</a>
            <h1>Efeitos do Aquecimeto Global</h1>
            <h3>O aumento da temperatura média da Terra está provocando mudanças climáticas extremas e ameaçando a biodiversidade. A ação imediata é crucial para garantir um futuro sustentável.</h3>
        </div>
        <div class="text2">
            <a href="">Terra - Curiosidades:</a>
            <h1>Curiosidades sobre a Terra</h1>
            <h2>Descubra fatos fascinantes sobre o nosso planeta, desde sua formação até os fenômenos naturais que moldam sua beleza.</h2>
        </div>        
        <div class="text3">
            <a href="">Espaço - Imensidão:</a>
            <h1>Exploração do Espaço</h1>
            <h2>A exploração espacial nos permite descobrir novos mundos, entender a origem do universo e expandir nosso conhecimento sobre o cosmos.</h2>
        </div>
        
        <div class="text4">
            <a href="">NASA - Estudo Espacial:</a>
            <h1>Exploração Espacial</h1>
            <h2>Responsável por missões que exploram o espaço e estudam os planetas.</h2>
        </div>
        
    </div>
</body>
</html>