<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div href=""> <a> Home </a></div>
        <div href=""> <a> Clima</a></div>
        <div href="" > <a> Espaço </a> </div>
        <div> <img src="./arquivo/logo_nasa.png" alt="logo_nasa.png"></div>
        <div href=""> <a> Terra </a></div>
        <div href=""> <a> Nasa </a> </div>
        <div href=""> <a> Contato </a></div>
    </div>
    <div class="grid_principal">
        <div class="text1">
            <h1>Bem Vindo a NASA</h1>
            <h2>A liderança da NASA sobre o futuro da exploração espacial,
                descobertas científicas e tecnologia de ponta agregam valor ao povo americano todos os dias.</h2>
        </div>
        <div class="text2">
            <h1>Bem Vindo a NASA</h1>
            <h2>A liderança da NASA sobre o futuro da exploração espacial,
                descobertas científicas e tecnologia de ponta agregam valor ao povo americano todos os dias.</h2>
        </div>
        <div class="text3">
            <h1>Bem Vindo a NASA</h1>
            <h2>A liderança da NASA sobre o futuro da exploração espacial,
                descobertas científicas e tecnologia de ponta agregam valor ao povo americano todos os dias.</h2>
        </div>
        <div class="text4">
            <h1>Bem Vindo a NASA</h1>
            <h2>A liderança da NASA sobre o futuro da exploração espacial,
                descobertas científicas e tecnologia de ponta agregam valor ao povo americano todos os dias.</h2>
        </div>
    </div>
</body>
</html>