body {
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0),rgb(93, 109, 139),rgb(121, 71, 187));
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;      
}  
h2 {
    color: red;
    text-align: center;
}

.hrefs {
    text-align: center;
}

.audio {
    left: 50%;
}

.video {
    height: 430px;
    width: 770px;
    border: 10px double;
    border-color: deeppink;
    box-sizing: content-box;
}

#paragrafo1 {
    color: deeppink;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 30%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.paragrafo2 {
    text-align: center;
    font-style: italic;
    font-size: large;
    color: rgb(0, 247, 255);
    box-shadow: 20px 10px 100px black;
}