body{
    display: flex;
    align-items: center;
    flex-direction: column;  
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.texto {
    position: absolute;
    margin-top: 300px;
    margin-right: -600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.minha-imagem {
    border-radius: 50%;
    position: absolute;
    width:350px;
    height:350px;
    margin-top: 265px;
    margin-left: -550px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(90, 0, 90);
}
    
.header a {
    margin-right: 80px; 
    color: black; 
    text-decoration: none;
}

.nome {
    margin-right: 50% ;    
}