body{
    display: flex;
    align-items: center;
    flex-direction: column;  
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
    background-image: url("./../bg.png");
    background-size: 100%;
    background-position: center;
}

.texto {
    position: absolute;
    margin-top: 550px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

.minha-imagem {
    border-radius: 50%;
    position: absolute;
    width:330px;
    height:330px;
    margin-top: 200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(54, 17, 54);
    color: white;
}
    
.header a {
    margin-right: 80px; 
    color: white; 
    text-decoration: none;
}

.nome {
    margin-right: 50%;    
}

.quadrado {
    position: absolute;
    top: 150px; 
    width: 700px;
    height: 720px; 
    background-color: rgb(54, 17, 54); 
    border-radius: 2%;
}

