* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

footer {
    background-color: darkslateblue;
    color: white;
    padding: 30px 0;
    text-align: center;
    display: block;
    width: 100%;
    border: none;
}

/* start footer */
.footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
}

.footer_container img {
    width: 100%;
    max-width: 200px;
    height: auto;
    justify-self: center;
}

.footer_info {
    font-size: 0.9em;
}

.footer_info p {
    margin-bottom: 10px;
}

.footer_contatos h3 {
    font-size: 35px;
    margin-bottom: 15px;
}
/* end footer */
